input.divrep_sample, textarea.divrep_sample { color: #ccc;}
.divrep_processing {color: gray;}

.divrep_form_element
{
	padding-bottom: 5px;
}
.divrep_elementerror
{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#B81900 url(images/error_back.png) repeat scroll 50% 50%;
border:1px solid #CD0A0A;
color:#FFFFFF;
padding:5px;
margin-top: 2px;
}
.divrep_icon_error
{
background-image:url(images/error.png);
height:16px;
width:16px;
}

.divrep_round
{
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}
.divrep_indent
{
margin-left: 40px;
}
.divrep_hidden
{
display: none;
}
.divrep_loading
{
background-image:url(images/loading.gif);
background-repeat:no-repeat;
padding-left: 20px;
}
.divrep_folderopen
{
background-image:url(images/folder-open.gif);
background-repeat:no-repeat;
padding-left: 20px;
}
.divrep_folderopen
{
background-image:url(images/folder-close.gif);
background-repeat:no-repeat;
padding-left: 20px;
}
.divrep_underline
{
text-decoration: underline;
}
.divrep_inline
{
display: inline;
}
.divrep_link
{
text-decoration: underline;
cursor: pointer;
}
