<% include head.ejs %>
<% include navbar.ejs %>
<script src="/public/index.js"></script>
<div class="container">
    <div class="jumbotron">
        <h1>dsBudget</h1>
        <p>dsBudget is a simple, open source personal budgeting program for everyone.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="signup">Sign Up</a></p>
    </div>
    <div class="page-header">
        <h1>TODO HEADER <small>todo sub header</small></h1>
    </div>
    I haven't really worked on this page yet.
    <% include footer.ejs %>
</div>
<% include tail.ejs %>
