<% include head.ejs %>
<% include navbar.ejs %>
<script src="/public/index.js"></script>
<div class="container">
    <div class="page-header">
        <h1>About</h1>
    </div>
    <p>Nothing here {{'yet' + '!!!'}}</p>
    <% include footer.ejs %>
</div>
<% include tail.ejs %>
