<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>dsBudget 3</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <!--need to go before angular.min-->
    <script src="/static/angular-file-upload/angular-file-upload-shim.min.js"></script> 

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
    <!--
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <!--
    <script src="//blueimp.github.com/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="//blueimp.github.com/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>    
    <script src="//blueimp.github.com/jQuery-File-Upload/js/jquery.fileupload.js"></script>    
    --> 

    <script src="/static/angular-file-upload/angular-file-upload.min.js"></script> 
    
</head>
<body>

<%
var messages = req.flash('error');
messages.forEach(function(message) {
    %>
    <div class="message"><%=message%></div>
    <%
});
%>
