<% include head.ejs %>
<% include navbar.ejs %>
<div class="container">
    <h2>Hello</h2>
    <p>Nothing here {{'yet' + '!!!'}}</p>
    <%=JSON.stringify(pages)%>
    <% include footer.ejs %>
</div>
<% include tail.ejs %>
