
/*CSS compiled by SASS*/

$titlecolor: #999;
$bordercolor: #e5e5e5;

.navbar {
    li.imgbutton a {
        padding: 0px;
    }
}

.page-header,
.doc-title {
    color: $titlecolor;
    border-bottom: 1px solid $bordercolor;
    text-transform:uppercase;
}

@media (min-width: 768px) {
  footer {
    text-align: left;
  }
  footer p {
    margin-bottom: 0;
  }
}

footer {
padding-top: 40px;
padding-bottom: 30px;
margin-top: 100px;
color: #777;
text-align: center;
border-top: 1px solid $bordercolor;
}

.section {
border: 1px solid #ddd;
border-radius: 4px 4px;
box-shadow: 1px 1px 1px #eee;
margin-bottom: 10px;

    .section-header  {
        margin: 10px 0px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #bbb;
        font-size: 12pt;
        font-weight: bold;
    }
    .category-header {
        margin: 0px;
        margin-bottom: 1px;
        padding: 5px 25px;
        font-size: 11pt;
        font-weight: bold;
    }
    .income {
        margin: 0px;
        padding: 5px;
        height: 30px;
        font-size: 11pt;
    }
    .income-item {
        border-bottom: 1px solid #eee;
    }
    .income-total {
        font-weight: bold;
    }
    .important-amount {
        width: 100px;
        text-align: right;
    }
    .category {
        margin-bottom: 15px;
    }
    .category-desc {
        margin-left: 20px;
        font-weight: normal;
    }
    .expense-item {
        margin: 0px 10px;
        border-bottom: 1px solid #eee;
        .expense-amount {
            text-align: right;
        }
        .expense-name {
            color: gray;
        }
    }
    .expense-new {
        margin-top: 3px;
    }
    .income-item:hover,
    .expense-item:hover {
        background-color: #ddd;
        cursor: pointer;
    }
    .expense-total {
        margin: 0px 10px;
        border-bottom: none;
    }
}

.text-right {
text-align: right;
}

/*
.muted {
opacity: 0.5;
font-size: 80%;
}
*/
