<% include head.ejs %>
<% include navbar.ejs %>
<div class="container">
    <div class="page-header">
        <h1>Authentication Error</h1>
    </div>
    <p>Sorry, we couldn't authenticate you. Please try again, or refer to dsBudget support forum.</p>
    <% include footer.ejs %>
</div>
<% include tail.ejs %>
