<div ng-repeat="doc in docs">
    <form class="form-inline pull-right">
        <input ng-model="page_query" placeholder="Page Filter" class="form-control">
        <button type="button" class="btn btn-default" ng-click="opennew(doc)">New Page</button>
        <button type="button" class="btn btn-default" ng-click="openimport(doc)">Import</button>
    </form>
    <h1 class="doc-title">{{doc.name}}</h1>

    <div class="page-summary" ng-repeat="page in doc.pages | filter:page_query | orderBy:orderProp">
        <div class="row">
            <div class="col-md-4">
                <a href="#/{{page._id}}"><b>{{page.name}}</b></a>
            </div>
            <div class="col-md-6">
                <div class="progress" ng-class="{'progress-striped active' : page._active}">
                    <div class="progress-bar" ng-class="{'progress-bar-danger' : page._pct >= 100}" role="progressbar" aria-valuenow="{{page._pct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{page._pct}}%">
                        <span class="sr-only">{{page._pct}}% Complete</span>
                    </div>
                </div><!--process-->
            </div>
            <div class="col-md-2">
                <span>{{page.start_date | date:'shortDate'}} to {{page.end_date|date:'shortDate'}}</span>
            </div>
        </div> <!--row-->
    </div><!--pages-->
</div><!--docs-->

<script type="text/ng-template" id="importdialog.html">
    <div class="modal-header">
        <h3>Import</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="importtype">From</label>
            <select id="importtype" class="form-control" ng-model="importtype" ng-options="type.name for type in importtypes" required></select>
        </div>
        <p ng-if="importtype.name == 'dsbudget'">
        Please upload your dsBudget document (BudgetDocument.xml) stored on your computer to import data.  
        If you are not sure how to find it, please contact dsBudget support forum.</p>
        <div class="form-group">
            <label for="fd">Currency Fraction Digists</label>
            <p>Please select number of digits under major denomination in your currrency. For example, for USD(like $.00), it is 2 
            and for JPY(&yen;) it is 0.</p>
            <input type="text" ng-model="fd" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="importfile">Data File</label>
            <input id="importfile" type="file" ng-file-select="onFileSelect($files)" required/>
        </div>
        <div ng-show="showprogress">
            {{progress_action}} ... 
            <progressbar class="progress-striped active" value="progress">{{progress}}%</progressbar>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="showprogress">Import</button>
        <button class="btn btn-default" ng-click="cancel()" ng-disabled="showprogress">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="newpagedialog.html">
    <div class="modal-header">
        <h3>New Page</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Page Name</label>
            <input type="text" class="form-control" ng-model="$parent.name"/>
        </div>
        <div class="form-group">
            <label>Parent Page</label>
            <select class="form-control" ng-model="$parent.parent" ng-options="page.name for page in doc.pages | orderBy:'-end_date'">
                <option value="">(No Parent)</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="showprogress">Create</button>
        <button class="btn btn-default" ng-click="cancel()" ng-disabled="showprogress">Cancel</button>
    </div>
</script>

