/*CSS compiled by SASS*/
.navbar li.imgbutton a {
  padding: 0px; }

.page-header, .doc-title {
  color: #999;
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase; }

@media (min-width: 768px) {
  footer {
    text-align: left; }
  footer p {
    margin-bottom: 0; } }

footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5; }

.section {
  border: 1px solid #ddd;
  border-radius: 4px 4px;
  box-shadow: 1px 1px 1px #eee;
  margin-bottom: 10px; }
  .section .section-header {
    margin: 10px 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #bbb;
    font-size: 12pt;
    font-weight: bold; }
  .section .category-header {
    margin: 0px -1px;
    margin-bottom: 1px;
    padding: 5px 5px;
    font-weight: bold; }
  .section .income-item {
    margin: 0px;
    padding: 5px;
    height: 30px;
    border-bottom: 1px solid #eee; }
  .section .income-total {
    margin: 0px;
    padding: 5px;
    height: 30px; }
  .section .category {
    margin-bottom: 15px; }
  .section .category-desc {
    font-weight: normal; }
  .section .expense-item {
    padding: 2px 20px;
    border-bottom: 1px solid #eee; }
    .section .expense-item .expense-name {
      color: gray; }
  .section .income-item:hover, .section .expense-item:hover {
    background-color: #ddd;
    cursor: pointer; }
  .section .expense-total {
    padding: 2px 20px; }

.section-footer {
  background-color: #ddd;
  border-bottom-radius: 4px 4px;
  padding: 5px 0px; }

.text-right {
  text-align: right; }

.jumbotron-about {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/static/samplegate.jpg);
  text-shadow: 0px 0px 8px #666;
  color: white; }

.half-opacity {
  opacity: 0.5; }

.pagename:hover {
  cursor: pointer;
  padding: -10px;
  background-color: #ddd; }
